@use "sass:math";

nav {
    margin-top: -5vh;
    display: flex;
    align-items: center;
    animation: slide-in 0.5s forwards;
    
    #logo {
      flex: 0;
      
      h1 {
        white-space: nowrap;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        font-size: 2em;
      }
      
      a {
        text-decoration: none;
      }
    }
    
    ul {
      display: flex;
      margin-left: 10vw;
      
      li {
        padding: 5vh;
        list-style: none;
        justify-content: space-between;
        
        a {
          text-decoration: none;
          color: white;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
    
    .toggle-menu {
      display: none;
      font-size: 24px;
      background-color: transparent;
      border: none;
      color: black;
      cursor: pointer;
      position: absolute;
      top: 3%;
      right: 3%;
      margin: 0;
      z-index: 10;
    }
  }

  /* Conteneur des images */

p, h2{
    font-family: 'Montserrat', sans-serif;
  }
  
  #modal-product1 h2{
    color: #B175A6;
  }
  
  section {
   text-align: center;
   display: flex;
  }
  
  .toggle-menu {
    display: none;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
    margin: 0;
    z-index: 10;
  }
  
  .product-img-container {
    float: left;
    width: 30%; // ou 32% ou 33% pour un meilleur alignement
    margin: 1%;
    position: relative;
    overflow: hidden; // pour cacher le dépassement de l'image
  
    img {
      width: 100%; // pour adapter la taille de l'image au conteneur
      height: auto; // pour conserver le ratio d'aspect de l'image
    }
  
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(0, 0, 0, 0.5);
  
      &.right {
        left: 100%;
        transition: 0.5s ease;
      }
  
      &.left {
        right: 100%;
        transition: 0.5s ease;
      }
  
      &.bottom {
        position: absolute;
        top: 100%;
        transition: 0.5s ease;
        bottom: 8px;
        right: 8px;
      }
    }
  
    &:hover {
      .overlay {
        opacity: 1;
  
        &.right {
          left: 0;
        }
  
        &.left {
          right: 0;
        }
  
        &.bottom {
          top: 0;
        }
      }
    }
  
    .text {
      color: white;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
    }
  
    .text-two {
      color: white;
      font-size: 15px;
      font-family: 'Montserrat-Regular', sans-serif;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      border: 0;
      text-decoration: underline;
      text-align: center;
      float: right;
      cursor: pointer;
    }
  }
  
  .lilpic {
    width: 42.5vw;
  }
  
  .lilpic2 {
    width: 42.5vw;
  }
  
  .text {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(50%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(50%);
    }
  }
  
  
  


  #REWORK-modal-1, #REWORK-modal-2 {
    background: white;
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all .5s;
  
    &.shown {
      &.modal-1 {
        left: 0;
      }
      &.modal-2 {
        right: 0;
      }
    }
  }
  
  #REWORK-modal-1 {
    left: -50vw;
    
    .close-panels-button {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: white;
      border: 1px solid black;
      border-radius: 50%;
      padding: 5px 10px;
      cursor: pointer;
      z-index: 1000;
    }
  }
  
  #REWORK-modal-2 {
    right: -50vw;
  }
  
  #REWORK-carousel-container {
    padding: 20px;
    max-width: 100%;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > * {
      flex: 0 0 auto;
    }
  
    figure {
      margin: 0;
      width: 40%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
  
      img {
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 0px;
        width: 100%; 
        height: auto;
  
        &:not(:first-of-type) {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  
    nav {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;
  
      button {
        flex: 0 0 auto;
        margin: 0 5px;
        cursor: pointer;
        color: #333;
        background: none;
        border: 1px solid;
        letter-spacing: 1px;
        padding: 5px 10px;
        font-size: 16px;
      }
    }
  }
  


  @media only screen and (max-width: 768px) {
    #content {
      z-index: 2;
    }

    .toggle-menu {
      display: block;
      top: 1vh;
      right: 10vw;
    }

    ul {
      display: none;
      position: absolute;
      margin-left: -4vw;
      top: 8vh;
      left: 0;
      width: 100%;
      box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.1);
      z-index: 1;
      background-color: white;
      margin-top: -2vh;

      li {
        width: 100%;
        text-align: center;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .lilpic {
      & .overlay {
        height: 95%;
      }
    }

    .lilpic2 {
      & .overlay {
        height: 95%;
      }
    }

    .overlay {
      h2 {
        font-size: 2px;
      }
    }
    .carousel {
        width: 100%;
        $item-width: 80%;
        $item-separation: 10%;
        $viewer-distance: 80vw;
    }

    .modal-container {
        flex-direction: column;
    }

    .modal-content {
        order: 2;
    }

    .modal-content2 {
        order: 1;
    }
  }
